<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for Android 9 and below -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        android:permissionGroup="STORAGE_MANAGEMENT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.TETHER_PRIVILEGED"
        android:permissionGroup="STORAGE_MANAGEMENT"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:permissionGroup="STORAGE_MANAGEMENT" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:permissionGroup="STORAGE_MANAGEMENT"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:permissionGroup="STORAGE_MANAGEMENT"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        android:permissionGroup="STORAGE_MANAGEMENT"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        android:permissionGroup="STORAGE_MANAGEMENT"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:permissionGroup="STORAGE_MANAGEMENT"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:permissionGroup="STORAGE_MANAGEMENT" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_CAMERA"
        android:permissionGroup="STORAGE_MANAGEMENT" />

    <permission-group
        android:name="STORAGE_MANAGEMENT"
        android:description="@string/app_all_permission_group"
        android:label="Application all required permission" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FileManager"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:permissionGroup="STORAGE_MANAGEMENT"
            android:theme="@style/Theme.FileManager.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <activity-->
        <!--        android:name=".TestActivity"-->
        <!--        android:exported="true"-->
        <!--        android:permissionGroup="STORAGE_MANAGEMENT"-->
        <!--        android:theme="@style/Theme.FileManager.NoActionBar">-->
        <!--        <intent-filter>-->
        <!--            <action android:name="android.intent.action.MAIN" />-->
        <!--            <category android:name="android.intent.category.LAUNCHER" />-->
        <!--        </intent-filter>-->
        <!--    </activity>-->


        <activity
            android:name=".services.TextToSpeechManager"
            android:exported="true" />

        <receiver
            android:name=".services.MyBroadcastReceiver"
            android:exported="true"
            android:permission="android.permission.BLUETOOTH_CONNECT">
            <intent-filter>
                <action android:name="com.example.NOTIFICATION_RECEIVED" />

                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />

            </intent-filter>
        </receiver>


        <service
            android:name=".services.MyNotificationListener"
            android:exported="true"
            android:label="MyNotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".services.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>